---
- name: Talk to OpenVPN hosts to gather facts
  hosts: openvpn
  tasks:
    - name: Classify hosts according to OS distribution
      group_by:
        key: OS_{{ ansible_os_family }}

- name: Run Debian package updates
  hosts: OS_Debian
  gather_facts: False
  roles:
    - debian-package

- name: Install OpenVPN and dependencies
  hosts: openvpn
  gather_facts: False
  vars_files:
    - ../secret_vars.yml
  roles:
    - install
    - configure
    - wrapup
